{% extends 'main/base.html' %}

{% block title %}Setup {{setup.reason}}{% endblock title %}

{% block content %}
<div class="text-center mb-6">
    <h1>{{setup.reason}}</h1>
        {% if total_trades == 0 %}
    <h3>Taken 0 trades</h3>
        {% elif total_trades == 1 %}
    <h3>Taken 1 trade</h3>
        {% else %}
    <h3>Taken {{total_trades}} trades</h3>
    {% endif %}
    <h3>Profit percentage: {{profit_percentage}}%</h3>
    <h3>
        {% if total_profit > 0 %}
            Setup P&L: +{{total_profit}}
        {% else %}
            Setup P&L: {{total_profit}}
        {% endif %}
    </h3>
</div>
<h3 class="text-center">Futures trades</h3>
<div class="d-flex flex-row">
    {% for trade in futures_pictures %}
    <div class="d-flex flex-column">
        {% if trade.picture1.url != None %}
            {% if trade.picture2.url != None %}
            <div class="d-flex flex-row">
                <img class="image" onclick="openModal('{{trade.picture1.url}}')" src="{{trade.picture1.url}}" alt="Trade Image" height="250px" width="229px">
                <div id="imageModal" class="modal" onclick="closeModal()">
                    <img id="modalImage" src="{{trade.picture1.url}}" class="modal-content">
                </div>
                <img class="image" src="{{trade.picture2.url}}" alt="Trade Image" height="250px" width="229px">
            </div>
            {% else %}
            <img class="card-img-top image" onclick="openModal('{{trade.picture1.url}}')" src="{{trade.picture1.url}}" alt="Trade Image" height="250px">
            <div id="imageModal" class="modal" onclick="closeModal()">
                <img id="modalImage" src="{{trade.picture1.url}}" class="modal-content">
            </div>
            {% endif %}
        {% endif %}
        <p>
            {% if trade.profit %}
                <p>+{{trade.p_and_l}}</p>
            {% else %}
                <p>-{{trade.p_and_l}}</p>
            {% endif %}
        </p>
    </div>
    {% endfor %}
</div>
<h3 class="text-center">Options trades</h3>
<div class="d-flex flex-row">
    {% for trade in options_pictures %}
    <div class="d-flex flex-column">
        {% if trade.picture1.url != None %}
            {% if trade.picture2.url != None %}
                <img class="image" onclick="openModal('{{trade.picture1.url}}')" src="{{trade.picture1.url}}" alt="Trade Image" height="250px" width="229px">
                <div id="imageModal" class="modal" onclick="closeModal()">
                    <img id="modalImage" src="{{trade.picture1.url}}" class="modal-content">
                </div>
                <img class="image" src="{{trade.picture2.url}}" alt="Trade Image" height="250px" width="229px">
                {% else %}
                <img class="card-img-top image" onclick="openModal('{{trade.picture1.url}}')" src="{{trade.picture1.url}}" alt="Trade Image" height="250px">
                <div id="imageModal" class="modal" onclick="closeModal()">
                    <img id="modalImage" src="{{trade.picture1.url}}" class="modal-content">
                </div>
            {% endif %}
        {% endif %}
        <div>
            <p>
                {% if trade.profit %}
                    <p>+{{trade.p_and_l}}</p>
                {% else %}
                    <p>-{{trade.p_and_l}}</p>
                {% endif %}
            </p>
        </div>
        {% if trade.other_notes != None %}
            <div>
                <p>{{trade.other_notes}}</p>
            </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock content %}