{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Create your futures trade{% endblock title %}

{% block content %}
<h4 class="text-center">Hold down ctrl/cmd to select more than one reason</h4>
<div class="d-flex justify-content-center">
    <form action="" method="post">
        {% csrf_token %}
        <ul class="list-group d-flex w-100">
            {{form|crispy}}
        </ul>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
{% endblock content %}